{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
        <h2>Clinic Portfolio of the User</h2>

        <table class="table table-bordered table-striped">
            <thead class = "thead-light">
                <tr>
                    <th>Clinic number</th>
                    <th>Name</th>
                    <th>Services</th>
                    <th>Number of room</th>
                </tr>
            </thead>
            <tbody>
                {% for clinic in profolio %}
                     <tr>
                        <td>{{ clinic.clinic_number }}</td>
                        <td>{{ clinic.name }}</td>
                        <td>{{ clinic.service }}</td>
                        <td>{{ clinic.number_of_room }}</td>
                     </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
